# Student Info

* Name: Manav Sheth
* Net ID: gfw8hq
* URL of this file in GitHub: https://github.com/m112-s/DS5100--gfw8hq-/blob/main/lessons/M02/hw02.ipynb

# Data

```
Table 1: GRADES

name    grade
Jon     95
Mike    84
Jaime   99


Table 2: TOUCHDOWNS

name    touchdowns
Alex    2
Patrick 4
Tom     1
Joe     3
Alex    1
```

# Tasks

## Task 1

In [1]:
gradebook = {'Jon':95,
             'Mike':84,
             'Jaime':99}

print(type(gradebook)) #Make sure the data type is correct

<class 'dict'>

## Task 2

In [2]:
print(gradebook['Mike'])

84

## Task 3

In [11]:
print(gradebook['Jeff'])

KeyError: 'Jeff'

## Task 4

In [4]:
names = ['Alex','Patrick','Tom','Joe','Alex']

print(type(names)) #Make sure the data type is correct

<class 'list'>

## Task 5

In [5]:
names.sort() #Sort in ascending order 

print(names)

['Alex', 'Alex', 'Joe', 'Patrick', 'Tom']

## Task 6

In [6]:
set_names = set(names)
print(set_names)
print(type(set_names)) # Make sure data type is correct

{'Tom', 'Joe', 'Alex', 'Patrick'}
<class 'set'>

## Task 7

In [7]:
td = {'Alex': [2,1],
      'Patrick':[4],
      'Tom':[1],
      'Joe':[3]
     }

print(type(td)) # Make sure data type is correct

<class 'dict'>

## Task 8

In [8]:
print(sum(td['Alex'])) # First retrieving all values associated with key 'Alex', then using the sum function to get the total

3

## Task 9

In [9]:
list1 = list(td.keys()) #Create list of keys
list1.sort() #Sort key list 

list2 = sorted(names) #Created sorted list from names 

print(list1==list2)  #Check if list1 is equal to list2 (It is not because the keys are unique, so list1 only has Alex once in the data

False